footer {
     padding: 10px;
     margin: 0px;
     position: absolute;
     width: 98.2%;
     bottom: 5px;
     color: #fff;
     background-color: #33ccff;
}
span {
     display: block;
     text-align: center;
     font-weight: bold;
}
